* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Start {
    width: 100%;
    height: 20px;
    position: fixed;
    /* background-color: white; */
    cursor: pointer;
    margin-top: 2%;
}

.Start .Nav-Left {
    float: left;
    margin-left: 10%;
    color: white;
    font-weight: 800;
}

.Start .Nav-Right {
    float: right;
    margin-right: 10%;
    width: 20%;
}

.Start .Nav-Right a {
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;
    text-decoration: none;
    color: white;
    margin-left: 5%;
}

.First {
    padding-top: 40%;
    text-align: center;
    vertical-align: middle;
    background-image: url(https:startbootstrap.github.io/startbootstrap-creative/assets/img/bg-masthead.jpg);
    width: 100%;
    height: 750px;
    /* opacity: 95%; */

}

.First h1 {
    margin-top: -25%;
    color: white;
    font-size: 60px;
    font-weight: 100;
}

.First hr {
    width: 4%;
    height: 4px;
    margin-left: 48%;
    margin-bottom: 2%;
    margin-top: 1%;
    background-color: #f4623a;
    border-color: #f4623a;
}

.First p {
    margin-bottom: 3rem;
    color: white;
    font-size: 25px;
}

.First button {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    background-color: #f4623a;
    border-color: #f4623a;
}

.First button a {
    text-decoration: none;
    color: white;
}

.Second {
    text-align: center;
    background-color: #f4623a;
}

.Second h2 {
    padding-top: 100px;
    font-size: 40px;
    color: white;
}

.Second hr {
    width: 4%;
    height: 4px;
    margin-left: 48%;
    margin-bottom: 2%;
    margin-top: 1%;
    background-color: white;
    border-color: white;
}

.Second p {
    margin-bottom: 3rem;
    color: white;
    font-size: 20px;
}

.Second button {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    background-color: white;
    border-color: white;
    margin-bottom: 100px;
}

.Second button a {
    text-decoration: none;
    color: black;
}

.Third {
    background-color: white;
    text-align: center;
}

.Third h2 {
    padding-top: 100px;
    font-size: 40px;
    color: black;
}

.Third hr {
    width: 4%;
    height: 4px;
    margin-left: 48%;
    margin-bottom: 3%;
    margin-top: 1%;
    background-color: #f4623a;
    border-color: #f4623a;
}

.Third h3 {
    font-size: 25px;
}

.Third p {
    margin-top: 2%;
    color: #6c757d;
    font-size: 20px;
    padding-bottom: 100px;
}

.One {
    width: calc(100% / 4);
    float: left;
    padding: 20px;
}

.Two {
    width: calc(100% / 4);
    float: left;
    padding: 20px;
}

.Three {
    width: calc(100% / 4);
    float: left;
    padding: 20px;
}

.Four {
    width: calc(100% / 4);
    float: left;
    padding: 20px;
}

/* .Fourth{
    margin-bottom: 0%;
} */
.Fourth .child-1 {
    width: calc(100%/3);
    float: left;

}

.Fourth .child-2 {
    width: calc(100%/3);
    float: left;
}

.Fourth .child-3 {
    width: calc(100%/3);
    float: left;
}

.Fifth .child-4 {
    width: calc(100%/3);
    float: left;
}

.Fifth .child-5 {
    width: calc(100%/3);
    float: left;
}

.Fifth .child-6 {
    width: calc(100%/3);
    float: left;
}

.Sixth {
    text-align: center;
}

.Sixth h2 {
    padding-top: 100px;
    font-size: 40px;
    color: black;
}

.Sixth button {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    background-color: white;
    border-color: white;
    margin-bottom: 100px;
}

.Sixth button a {
    text-decoration: none;
    color: black;
}

.Seventh {
    text-align: center;
}

.Seventh h2 {
    padding-top: 100px;
    font-size: 40px;
    color: black;
}

.Seventh hr {
    width: 4%;
    height: 4px;
    margin-left: 48%;
    margin-bottom: 3%;
    margin-top: 1%;
    background-color: #f4623a;
    border-color: #f4623a;
}

.Seventh p {
    margin-bottom: 3rem;
    font-size: 20px;
    color: #6c757d;
}

.Seventh input {
    width: 30%;
    height: 40px;
    margin-bottom: 40px;
}

.Seventh textarea {
    width: 30%;
}

.Seventh button {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 10rem;
    background-color: #f4623a;
    border-color: #f4623a;
}

.Last {
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
}

.Last p {
    color: #6c757d;
    text-align: center;
    padding-top: 50px;
}